{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
id: <span data-resdatas-id="{{ resdatas.id }}">{{ resdatas.id }}</span>
<br>
{% for c in comment %}
{{c.content}}
{% endfor %}
title:{{resdatas.title}}
<br>
평점:{{resdatas.vote_average}}
<br>
포스터경로:{{resdatas.poster_path}}
<br>
오버뷰:{{resdatas.overview}}
<br>
장르:
{% for genre_id in resdatas.genre_ids %}
{% for data in datas %}
{% ifequal genre_id data.id %}
{{data.name}}
{% endifequal %}
{% endfor %}
{% endfor %}
<br>
출연진:
{% comment %} {% for data in datas %}
{{data.id}}
<a href="{% url 'movies:actor_detail' data.id%}">{{data.name}}</a>

{{data.profile_path}}
<br>
{% endfor %} {% endcomment %}
<hr>
{% if request.user.is_authenticated %}
<div>
<a href="{% url 'cards:create' resdatas.id%}">CREATE CARD</a>
</div>
{% endif %}
<hr>
<h4>댓글 목록</h4>
{% if comments %}
    <p>{{ comments|length }}개의 댓글이 있습니다.</p>
  {% endif %}
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}-{{comment.vote}}
        {% if request.user == comment.user %}
          <form action="{% url 'movies:comments_delete' resdatas.id comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <li>댓글이 없어요...</li>
    {% endfor %}
  </ul>
  <hr>
{% if request.user.is_authenticated %}
<form action="{% url 'movies:comment_create' resdatas.id%}" method="POST">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit">
</form>
  {% else %}
    <a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인 하세요.</a>
  {% endif %}
  <br>
<a href="{% url 'movies:index' %}">뒤로가기</a>

{% endblock content %}