{% extends 'base.html' %}
{% load bootstrap4 %}

{% block style %}
<style>
.container {
  max-width: 100vw;
  padding: 0;
  margin-top: 62px;
}

.carousel {
  height: 400px;
}

.carousel-item img {
  height: 400px;
  object-fit: cover;
  opacity: 0.5;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-caption h5,
.carousel-caption p {
  color: #fff;
  margin: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: #fff;
}

.recommend {
  margin-top: 40px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: fit-content;
  margin: 0 auto;
}

.movie-item {
  flex-basis: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.movie-item:hover .movie-info {
  transform: translate(-50%, -100%);
}

.poster-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-info {
  width: 100%;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.3s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  opacity: 0.9;
  text-align: left;
  padding-top: 260px;
}

.title h3 {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

.vote-average {
  font-size: 16px;
}

.genre {
  font-size: 14px;
}

.overview {
  font-size: 14px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #ddd;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
</style>
{% endblock style %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.themoviedb.org/t/p/original/nLBRD7UPR6GjmWQp6ASAfCTaWKX.jpg" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.themoviedb.org/t/p/original/nLBRD7UPR6GjmWQp6ASAfCTaWKX.jpg" class="d-block w-100" alt="Slide 2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.themoviedb.org/t/p/original/nLBRD7UPR6GjmWQp6ASAfCTaWKX.jpg" class="d-block w-100" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div>
  <a href="{% url 'movies:sort' pk=1%}" class="btn btn-primary">평점순</a>
  <a href="{% url 'movies:sort' pk=2%}" class="btn btn-primary">인기도순</a>
  <a href="{% url 'movies:sort' pk=3%}" class="btn btn-primary">개봉일순</a>
</div>
<br>
{% for genre_id in datas %}
<a href="{% url 'movies:genre_sort' genre_id.id%}" class="btn btn-outline-primary">{{genre_id.name}}</a>
{% endfor %}
<div class="recommend">
  <h1>추천영화</h1>
  <div class="movie-list">
    {% for resdata in resdatas %}
    <a href="{% url 'movies:detail' resdata.id %}" class="movie-item">
      <div class="poster-image">
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/{{resdata.poster_path}}" alt="">
      </div>
      <div class="movie-info">
        <div class="title">
          <h3>{{ resdata.title }}</h3>
        </div>
        <div class="vote-average">{{ resdata.vote_average }}</div>
        <div class="genre">
          {% for genre_id in resdata.genre_ids %}
          {% for data in datas %}
            {% ifequal genre_id data.id %}
            {{data.name}}
            {% endifequal %}
          {% endfor %}
          {% endfor %}
        </div>
        <div class="overview">{{ resdata.overview }}</div>
        <div class="movie-button">
          <button class="like btn-like">보고싶어요</button>
          <button class="comment">댓글</button>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<h1>당신을 위한영화</h1>
<hr>
<h1>컬렉션</h1>
{% for collection in collections %}
<h2>{{ collection.title }}</h2>
<ul>
  {% for card in collection.cards.all %}
  <li>{{ card.movie_id }}-{{ card.title }}</li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock content %}

{% block script %}
{% endblock script %}
