{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1>추천영화</h1>
{% for resdata in resdatas%}
id:{{resdata.id}}
<br>
title:<a href="{% url 'movies:detail' resdata.id%}">{{resdata.title}}</a>
<br>
평점:{{resdata.vote_average}}
<br>
포스터경로:{{resdata.poster_path}}
<br>
오버뷰:{{resdata.overview}}
<br>
장르:
{% for genre_id in resdata.genre_ids %}
{% for data in datas %}
{% ifequal genre_id data.id %}
{{data.name}}
{% endifequal %}
{% endfor %}
{% endfor %}
<hr>
{% endfor %}
<h1>최신영화</h1>
<hr>
<h1>당신을 위한영화</h1>
{% endblock content %}
