{% extends 'base.html' %}

{% block content %}
  <div class="profile-header">
    <div>
      <h2><i>{{person.username}}</i></h2>
      <div>
        <b>팔로잉</b> {{person.followings.all|length}} 
        | <b>팔로워</b> {{person.followers.all|length}}
      </div>
    </div>
    <div class="follow-btn">
      {% if request.user != person %}
        <form action="{% url 'accounts:follow' person.pk%}" method="POST">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <button type="submit" class="btn btn-outline-danger">
              언팔로우하기ㅠㅠ
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
              </svg>
            </button>
          {% else %}
            <button type="submit" class="btn btn-primary">
              팔로우하기!
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z"/>
              </svg>
            </button>
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
  
  <br>

  <br>
  <h5>{{person.username}}님이 작성한 게시글</h5>
  <ul class="list-group col-md-11 mx-auto">
    {% for movie in person.movie_set.all %}
    <li class="list-group-item">
      <a href="{% url 'movies:detail' movie.pk %}">{{movie.title}}</a>
    </li>
    {% endfor %}
  </ul>

  <hr>

  <h5>{{person.username}}님이 작성한 댓글</h5>
  <ul class="list-group col-md-11 mx-auto">
    {% for comment in person.comment_set.all %}
      <li class="list-group-item">
        <a href="{% url 'movies:detail' comment.movie_id %}">{{comment.content}}</a>
      </li>
    {% endfor %}
  </ul>

  <hr>

  <h5>{{person.username}}님이 좋아요한 게시글</h5>
  <ul class="list-group col-md-11 mx-auto">
    {% for movie in person.movie_like_users.all %}
      <li class="list-group-item">
        <a href="{% url 'movies:detail' movie.pk %}">{{movie.title}}</a>
      </li>
    {% endfor %}
  </ul>
  
  <hr>

  <a href="{% url 'movies:index' %}" class="btn btn-secondary">BACK</a>

{% endblock content %}

