{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block nav %}
<a href="{% url 'accounts:login' %}" class="btn btn-secondary">BACK</a>
<span>회원가입</span>
{% endblock nav %}

{% block style %}
.form-group:has(#id_kakao_id) {
  display: none;
} 
form > div {
  margin: 30px 0;
}
.form-group > textarea, .form-control {
  color: white;
  background-color: #494949;
  border:#b1b1b1;
  height: 45px;
}
.form-group > textarea::placeholder, .form-control::placeholder {
  color: rgb(202, 202, 202);
}
.form-group > textarea:focus, .form-control:focus {
  color: white;
  box-shadow: none;
  box-shadow: 0px 0px 4px 1px rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 4px 1px rgba(255,255,255,1);
  background-color: #494949;
}
.join-btn > button {
  background-color: rgb(255, 217, 2);
  border: none;
  color: black;
  height: 40px;
}
.join-btn > button:hover {
  background-color: rgba(255, 217, 2, 0.863);
  border: none;
  color: black;
}
body > div > form > div:nth-child(3) {

}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

#id_like_genres {
  background: #494949;
  padding: 20px;
}
.checkbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  margin-bottom: 0;
}
{% endblock style %}

{% block content %}
  <h1>Signup</h1>
  <form action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-grid my-2 join-btn">
      <button class="btn" type="submit">회원 가입</button>
    </div>
  </form>
  <hr>
{% endblock content %}

{% block script %}
<script>
  const profileImage = document.createElement('img')
  profileImage.src = "{% static 'accounts/avatar.png' %}"
  profileImage.setAttribute('class', 'profile-image');
  document.querySelector('form > div:nth-child(3)').insertBefore(profileImage, document.querySelector('#id_profile_image'));

  document.getElementById('id_profile_image').onchange = function () {
    var src = URL.createObjectURL(this.files[0])
    document.querySelector('.profile-image').src = src
  }
</script>
{% endblock script %}

